<template>
  <div class="number-pad">
    <div class="output">￥：{{ output }}</div>
    <div class="buttons">
      <button @click="inputContent">1</button>
      <button @click="inputContent">2</button>
      <button @click="inputContent">3</button>
      <button @click="remove" class="remove">删除</button>
      <button @click="inputContent">4</button>
      <button @click="inputContent">5</button>
      <button @click="inputContent">6</button>
      <button @click="clear" class="clear">清空</button>
      <button @click="inputContent">7</button>
      <button @click="inputContent">8</button>
      <button @click="inputContent">9</button>
      <button @click="submit" class="submit">OK</button>
      <button @click="inputContent" class="zero">0</button>
      <button @click="inputContent">.</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      output: '0',
    }
  },
  methods: {
    // 数字键点击操作
    inputContent(event) {
      // 获取当前 button 所代表的参数
      const button = event.target
      const input = button.textContent
      if (this.output.length === 16) {
        return
        // 设置字符串最大长度为16
      }
      if (this.output === '0') {
        // indexof 查找当前点击对应的数字 并返回他
        if ('0123456789'.indexOf(input) >= 0) {
          this.output = input
        } else {
          // 如果点击的是'.',则字符串相加变为0.
          this.output += input
        }
        return
      }
      // 将字符串拼接到 output
      this.output += input
    },
    //  删除一位数字
    remove() {
      if (this.output.length === 1) {
        this.output = '0'
      } else {
        // 字符串截取 slice(start, end)
        // 从start开始截取，到end结束
        this.output = this.output.slice(0, -1)
      }
    },
    clear() {
      this.output = '0'
    },
    submit() {
      const number = parseFloat(this.output)
      // 更新 output
      this.$emit('updateOutput', number)
      // 提交创建 记账
      this.$emit('submit', number)
      // 归零
      this.output = '0'
    },
  },
}
</script>

<style lang="scss">
@import '~@/assets/style/helper.scss';
.number-pad {
  .output {
    // 引用样式
    @extend %clearFix;
    // @extend %innerShadow;
    font-size: 36px;
    font-family: Consolas, monospace;
    padding: 5px 16px;
    text-align: right;
    height: 64px;
    background-color: #fff;
  }
  .buttons {
    @extend %clearFix;
    button {
      width: 25%;
      height: 64px;
      float: left;
      background: transparent;
      border: none;
      &.submit {
        height: 64 * 2px;
        float: right;
      }
      &.zero {
        width: 25 * 2%;
      }
      $bg: #ebeff2;
      &:nth-child(1) {
        background: $bg;
      }
      &:nth-child(2),
      &:nth-child(5) {
        background: darken($bg, 4%); //在$bg的基础上加深%4的颜色
      }
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        background: darken($bg, 4 * 2%);
      }
      &:nth-child(4),
      &:nth-child(7),
      &:nth-child(10) {
        background: darken($bg, 4 * 3%);
      }
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(13) {
        background: darken($bg, 4 * 4%);
      }
      &:nth-child(14) {
        background: darken($bg, 4 * 5%);
      }
      &:nth-child(12) {
        background: darken($bg, 4 * 6%);
      }
    }
  }
}
</style>
