<template>
  <div class="layout" :class="`${classPrefix}` && `${classPrefix}-wrapper`">
    <div class="title">简易记账</div>
    <div class="content" :class="`${classPrefix}` && `${classPrefix}-content`">
      <slot></slot>
    </div>
    <NavBar></NavBar>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar/index.vue'
export default {
  props: {
    classPrefix: {
      type: String,
    },
  },
  components: {
    NavBar,
  },
}
</script>
<style lang="scss">
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .title {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: 40px;
    background: white;
    border-bottom: 1px solid black;
  }
}
.layout-content {
  display: flex;
  flex-direction: column-reverse;
}
.content {
  overflow: auto;
  flex-grow: 1;
}
</style>
