<template>
  <Layout>
    <div class="nav">
      <Icon class="left-icon" data_icon-name="left" @click.native="goBack"></Icon>
      <span>编辑标签</span>
      <span class="right-icon"></span>
    </div>
    <div class="edit-notes">
      <Notes placeholder="请输入标签名" fieldName="标签名" :value="tag.name" @update:value="update"></Notes>
    </div>
    <div class="div-button">
      <button @click="removeTag">删除标签</button>
      <button @click="updateTag">更新标签</button>
    </div>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout/index.vue'
import Icon from '@/components/Icon/index.vue'
import Notes from '@/components/Notes/index.vue'
export default {
  data() {
    return {
      tagName: '',
    }
  },
  components: {
    Layout,
    Icon,
    Notes,
  },
  created() {
    // 数据恢复
    this.$store.dispatch('vueDataRecoveryTags')
    // 根据路由传递id 获取对应 tag
    const id = this.$route.params.id
    this.$store.dispatch('getCurrentTag', id)
    if (!this.tag) {
      this.$router.replace('/404')
    }
  },
  computed: {
    tag() {
      return this.$store.state.currentTag
    },
  },
  methods: {
    goBack() {
      this.$router.back()
    },
    //  删除标签
    removeTag() {
      if (this.tag) {
        this.$store.dispatch('removeTag', this.tag.id)
      }
    },
    update(name) {
      this.tagName = name
    },

    updateTag() {
      if (this?.tag) {
        this.$store.dispatch('updateTag', {
          id: this?.tag.id,
          name: this?.tagName,
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.nav {
  text-align: center;
  font-size: 16px;
  padding: 12px 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .right-icon {
    width: 24px;
    height: 24px;
  }
}
.edit-notes {
  background: white;
  margin-top: 8px;
}
.div-button {
  text-align: center;
  padding: 16px;
  margin-top: 44-16px;
  button {
    background: #767676;
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    margin: 0 10px;
  }
}
</style>
