<template>
  <Layout classPrefix="layout">
    <!--  键盘  -->
    <NumberPad @updateOutput="updateOutput" @submit="submit"></NumberPad>
    <!--  备注  -->
    <Notes :value.sync="record.notes"></Notes>
    <!--  支出收入切换  -->
    <Toggle @toogleType="toogleType"></Toggle>
    <!--  新增标签  -->
    <AddTags :dataSource="dataSource" @checkedTags="checkedTags"></AddTags>
  </Layout>
</template>

<script>
import Layout from '@/components/Layout/index.vue'
import NumberPad from '@/components/NumberPad/index.vue'
import Notes from '@/components/Notes/index.vue'
import AddTags from '@/components/AddTags/index.vue'
import Toggle from '@/components/Toggle/index.vue'
export default {
  name: 'Home',
  components: {
    Layout,
    NumberPad,
    Notes,
    AddTags,
    Toggle,
  },
  data() {
    return {
      record: {
        tags: [], // 标签
        notes: '', // 备注
        amount: 0, // 记账金额
        type: '-', // 记账类型
        createAt: Date,
      },
    }
  },
  created() {
    this.$store.dispatch('vuexDataRecoveryList')
    this.$store.dispatch('vueDataRecoveryTags')
  },
  computed: {
    dataSource() {
      // 获取 vuex 中的 taglist
      return this.$store.state.tagList
    },
  },
  methods: {
    // 更新 记账金额
    updateOutput(number) {
      this.record.amount = number
    },
    submit() {
      // 点击提交按钮
      // 记账数据 record 传递到 vuex
      if (this.record.tags.length === 1) {
        this.$store.dispatch('createRecord', this.record)
        this.record.notes = ''
      } else {
        alert('请选择一个标签')
      }
    },
    checkedTags(selectedTags) {
      this.record.tags = selectedTags
    },
    toogleType(type) {
      this.record.type = type
    },
  },
}
</script>
