<template>
  <Layout classPrefix="label">
    <div class="tags">
      <router-link class="tag" v-for="item in tags" :key="item.id" :to="`/labels/edit/${item.id}`">
        <span>{{ item.name }}</span>
        <Icon data_iconName="right"></Icon>
      </router-link>
    </div>
    <div class="create-tag">
      <button class="button" @click="createTag">新建标签</button>
    </div>
  </Layout>
</template>
<script>
import Layout from '@/components/Layout/index.vue'
import Icon from '@/components/Icon/index.vue'
export default {
  name: 'Labels',
  components: {
    Layout,
    Icon,
  },
  created() {
    this.$store.dispatch('vueDataRecoveryTags')
  },

  computed: {
    tags() {
      return this.$store.state.tagList
      // 得到放在tagList中的标签
    },
  },
  methods: {
    // 创建标签
    createTag() {
      const name = window.prompt('请输入标签名')
      // 得到输入值name，如果name不为空，执行下面语句
      if (!name) {
        return window.alert('标签名不能为空')
      }
      this.$store.dispatch('createTags', name)
    },
  },
}
</script>

<style lang="scss" scoped>
.tags {
  background: white;
  font-size: 16px;
  padding: 0 16px;
  overflow: auto;
  .tag {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    svg {
      width: 18px;
      height: 18px;
      color: #666;
      margin-right: 16px;
    }
  }
}
.create-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .button {
    background: #767676;
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
  }
}
</style>
