<template>
  <div class="add-tag">
    <div class="add">
      <button @click="createTags">新增标签</button>
    </div>
    <ul class="current">
      <li
        v-for="item in dataSource"
        :key="item.id"
        @click="checked(item)"
        class="icon"
        :class="{ selected: selectedTags.indexOf(item) >= 0 }"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    dataSource: {
      type: Array,
    },
  },
  data() {
    return {
      selectedTags: [],
    }
  },
  methods: {
    // 创建 tag
    createTags() {
      const name = window.prompt('请输入标签名')
      if (!name) {
        return window.alert('标签名不能为空')
      }
      this.$store.dispatch('createTags', name)
    },
    //  选中tag
    checked(item) {
      const index = this.selectedTags.indexOf(item)
      if (index >= 0) {
        this.selectedTags.splice(index, 1)
      } else {
        if (this.selectedTags.length !== 0) {
          this.selectedTags = []
        }
        this.selectedTags.push(item)
      }
      this.$emit('checkedTags', this.selectedTags)
    },
  },
}
</script>

<style lang="scss">
.add-tag {
  background-color: #fff;
  display: flex;
  font-size: 14px;
  padding: 16px;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: space-between;
  .current {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    overflow: auto;
    li {
      $h: 32px;
      $bg: #96a4a7;
      height: $h;
      line-height: $h;
      width: 98px;
      text-align: center;
      border-radius: $h * 0.3333;
      margin: 4px 8px;
      cursor: pointer;
      background-color: #ecf0f1;
      &.selected {
        background: darken($bg, 50%);
        color: white;
      }
    }
  }
  .add {
    padding-top: 16px;
    button {
      background: transparent;
      border: none;
      color: #999;
      border-bottom: 1px solid;
      padding: 0 4px;
      cursor: pointer;
    }
  }
}
</style>
