<template>
  <nav>
    <router-link to="/labels" class="item" active-class="selected">
      <Icon data_iconName="label" class="icon"></Icon>
      标签
    </router-link>
    <router-link to="/home" class="item" active-class="selected">
      <Icon data_iconName="money" class="icon"></Icon>
      记账
    </router-link>
    <router-link to="/statistics" class="item" active-class="selected">
      <Icon data_iconName="statistics" class="icon"></Icon>
      统计
    </router-link>
  </nav>
</template>

<script>
import Vue from 'vue'
import Icon from '@/components/Icon/index.vue'
export default Vue.extend({
  components: {
    Icon,
  },
})
</script>

<style lang="scss" scoped>
@import '~@/assets/style/helper.scss';
nav {
  display: flex;
  justify-content: space-around;
  @extend %outerShadow;
  flex-direction: row;
  font-size: 12px;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #95a5a6;
    .icon {
      width: 32px;
      height: 32px;
    }
  }
  .item.selected {
    color: $color-highlight;
  }
}
</style>
