<template>
  <div class="notes">
    <label class="notes-label">
      <Icon data_iconName="beizhu"></Icon>
      <span class="name">{{ fieldName }}</span>
      <input type="text" :placeholder="placeholder" :value="value" @input="onInput($event.target.value)" />
    </label>
  </div>
</template>

<script>
import Icon from '@/components/Icon/index.vue'
export default {
  props: {
    fieldName: {
      type: String,
      default: '备注',
    },
    placeholder: {
      type: String,
      default: '在这里输入备注',
    },
    value: {
      type: String,
    },
  },
  components: {
    Icon,
  },
  methods: {
    onInput(value) {
      this.$emit('update:value', value)
    },
  },
}
</script>

<style lang="scss">
.notes {
  padding: 8px 0;
  .notes-label {
    font-size: 14px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    .name {
      padding-right: 16px;
      margin-left: 5px;
    }
    input {
      height: 48px;
      flex-grow: 1;
      background: transparent;
      border: none;
      padding-right: 16px;
    }
  }
}
</style>
