<template>
  <div>
    <ul class="toggle">
      <li @click="toggleType('-')" :class="{ selected: type === '-' }">支出</li>
      <li @click="toggleType('+')" :class="{ selected: type === '+' }">收入</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: '-',
    }
  },
  methods: {
    toggleType(type) {
      if (type !== '-' && type !== '+') {
        throw new Error('type is unknown')
      }
      this.type = type
      this.$emit('toogleType', this.type)
    },
  },
}
</script>

<style lang="scss" scoped>
.toggle {
  background: #c4c4c4;
  display: flex;
  text-align: center;
  font-size: 24px;
  li {
    width: 50%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &.selected::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #333;
    }
  }
}
</style>
